extends ../layouts/application.pug

block header
  = t('views.tasks.edit.editing')

block content
  +formFor()(action='edit' method='post')
    input(type='hidden' name='_method' value='PATCH')
    +input(task, 'name', t('views.tasks.edit.name'), errors)(type="text")
    +input(task, 'description', t('views.tasks.edit.description'), errors)(type="text")
    p= t('views.tasks.edit.status')
    p
      select(name='data[statusName]')
        option
        each status in statuses
          - const currentStatus = status.name === task.status.name;
          option(value=status.name selected=currentStatus ? true : false)= status.name
    p= t('views.tasks.edit.executor')
    p
      select(name='data[executorName]')
        option
        each user in users
          - const currentExecutor = user.email === (task.executor && task.executor.name);
          option(value=user.email selected=currentExecutor ? true : false)= user.email
    p= t('views.tasks.new.labels')
    p
      select(name='data[labelNames]' multiple)
        each label in labels
          - const currentLabel = task.labels.some(({ name }) => name === label.name);
          option(value=label.name selected=currentLabel ? true : false)= label.name
    +submit(task)(value=t('views.tasks.edit.submit'))
