extends ../layouts/application.pug

block content
  a(href=route('newTask'))= t('views.tasks.buttons.new')

  +formFor()(action=route('tasks') method='get')
    p
      label(for='status')= t('views.tasks.status')
      select#status(name='statusName')
        option
        each status in statuses
          - const currentStatus = status.name === filter?.statusName;
          option(value=status.name selected=currentStatus ? true : false)= status.name
    p
      label(for='executor')= t('views.tasks.executor')
      select#executor(name='executorName')
        option
        each user in users
          - const currentExecutor = user.email === filter?.executorName;
          option(value=user.email selected=currentExecutor ? true : false)= user.email
    p
      label(for='label')= t('views.tasks.label')
      select#label(name='labelName')
        option
        each label in labels
          - const currentLabel = label.name === filter?.labelName;
          option(value=label.name selected=currentLabel ? true : false)= label.name
    input#onlyMyTasks(type='checkbox' name='onlyMyTasks' checked=filter && filter.onlyMyTasks)
    label(for='onlyMyTasks')= t('views.tasks.showOnlyMyTasks')
    +submit()(value='Показать')

  if tasks.length > 0
    table.table.table-striped
      thead
        tr
          th= t('views.tasks.id')
          th= t('views.tasks.name')
          th= t('views.tasks.status')
          th= t('views.tasks.creator')
          th= t('views.tasks.executor')
          th= t('views.tasks.createdAt')
          th= t('views.tasks.actions')
      tbody
        each task in tasks
          tr
            td= task.id
            td: a(href=`tasks/${task.id}`)= task.name
            td= task.status.name
            td= task.creator && task.creator.email
            td= task.executor && task.executor.email
            td= formatDate(task.createdAt)
            td
              a(href=`tasks/${task.id}/edit`)= t('views.tasks.buttons.edit')
              +buttonTo(`tasks/${task.id}`, 'delete')(value=t('views.tasks.buttons.delete'))
  else
    p= t('views.tasks.noTasks')
