extends ../layouts/application.pug

block header
  = t('views.tasks.new.creating')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', t('views.tasks.new.name'), errors)(type="text")
    +input(task, 'description', t('views.tasks.new.description'), errors)(type="text")
    p= t('views.tasks.new.status')
    p
      select(name='data[statusName]')
        option
        each status in statuses
          option(value=status.name)= status.name
    p= t('views.tasks.new.executor')
    p
      select(name='data[executorName]')
        option
        each user in users
          option(value=user.email)= user.email
    +submit(task)(value=t('views.tasks.new.submit'))
