extends ../layouts/application.pug

block header
  = task.name

block content
  p #{t('views.tasks.description')}: #{task.description}
  table.table
    thead
    tbody
      tr
        td= t('views.tasks.creator')
        td= task.creator && task.creator.email
      tr
        td= t('views.tasks.executor')
        td= task.executor && task.executor.email
      tr
        td= t('views.tasks.status')
        td= task.status.name
      tr
        td= t('views.tasks.createdAt')
        td= formatDate(task.createdAt)
  p
    b #{t('views.tasks.labels')}:
    ul
      each label in task.labels
        li= label.name


  p: a(href=`${task.id}/edit`)= t('views.tasks.buttons.edit')
  p: +buttonTo(`${task.id}`, 'delete')(value=t('views.tasks.buttons.delete'))
