include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title Hexlet Fastify Boilerplate
    script(src=assetPath('main.js'))
    link(rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/")
    link(href=assetPath('main.css') rel="stylesheet")
    style.
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href=route('root'))= t('appName')
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id="navbarToggleExternalContent")
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=route('users'))= t('layouts.application.users')
        ul.navbar-nav
          if isAuthenticated()
            li.nav-item
              +buttonTo(route('session'), 'delete')(class="btn nav-link" value=t('layouts.application.signOut'))
          else
            li.nav-item
              a.nav-link(href=route('newSession'))= t('layouts.application.signIn')
            li.nav-item
              a.nav-link(href=route('newUser'))= t('layouts.application.signUp')
    .container.wrapper.flex-grow-1

      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1.my-4
        block header
      block content

    footer
      .container.my-5.pt-4.border-top
        a(target="_blank" href="https://ru.hexlet.io") Hexlet

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous")
